<?xml version="1.0"?>
<!--
/**
 *
 * @category    payment gateway
 * @package     Tpaycom_Magento2.1
 * @author      tpay.com
 * @copyright   (https://tpay.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="tpaycom\magento2cards\Api\TpayCardsInterface" type="tpaycom\magento2cards\Model\TpayCards" />
    <preference for="tpaycom\magento2cards\Api\Sales\CardsOrderRepositoryInterface" type="tpaycom\magento2cards\Model\Sales\CardsOrderRepository" />
</config>
