<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
            <img data-bind="attr: {src: getLogoUrl(), alt: $t('tpay.com')}" class="payment-icon"/>
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <div class="insidebg">

            <p id="tpayRSA" style="display: none" data-bind="html: getRSAkey()"></p>
            <div id="powered_by"></div>

            <div id="saved_card_payment" style="visibility: visible">
                <input type="radio" name="savedId" id="newCard" value="new">
                <label for="newCard"><!-- ko i18n: 'Pay with a new card' --><!-- /ko -->
                </label>
            </div>
            <div id="card_form" style="display: none">
            <div id="card_payment">
                <label for="card_number" data-bind="i18n: 'Card number'"></label>
                <input id="card_number" pattern="\d*" autocompletetype="cc-number" size="30" type="tel"
                       autocomplete="off"
                       maxlength="23" placeholder="0000 0000 0000 0000" tabindex="1" value=""/>

                <div id="expiry_date_wrapper">
                    <label for="expiry_date" data-bind="i18n: 'Expiration date'"></label>
                    <input id="expiry_date" maxlength="9" type="tel" placeholder="00 / 00" autocomplete="off"
                           autocompletetype="cc-exp" tabindex="2" value=""/>
                </div>
                <div id="cvc_wrapper">
                    <label for="cvc"><!-- ko i18n: 'CVC' --><!-- /ko --><span
                            data-bind="
                        attr: {title: $t('For MasterCard, Visa or Discover, these are the last three digits placed next to the card user signature.')}
                        ">?</span></label>
                    <input id="cvc" maxlength="3" type="tel" autocomplete="off" autocompletetype="cc-cvc"
                           placeholder="000"
                           tabindex="4" value=""/>
                </div>
                <div class="amPmCheckbox">
                    <input type="checkbox" id="card_save" name="card_save"/>
                    <label for="card_save"><!-- ko i18n: 'Save my card' --><!-- /ko --><span
                            data-bind="
                        attr: {title: $t('Allow to pay faster for next orders. Card data will be stored on secure tpay.com server.')}
                        "> ?</span></label>
                </div>
                <span data-bind="html: showSaveBox()"></span>
                <input type="hidden" name="card_data" id="card_data"/>
                <input type="hidden" name="card_vendor" id="card_vendor"/>
            </div>

            <div id="card_icons">
                <div class="card_icon" id="visa"></div>
                <div class="card_icon" id="mastercard"></div>
                <div class="card_icon" id="maestro"></div>
                <div class="card_icon" id="dinersclub"></div>
                <div class="card_icon" id="jcb"></div>
                <div class="card_icon" id="amex"></div>
            </div>
            </div>
            <p id="info_msg"></p>

            <div id="loading_scr" style="display:none"><img
                    data-bind="
                        attr: {src: getTpayLoadingGif()}"
                    style="vertical-align: middle;"/>&nbsp;&nbsp;<!-- ko i18n: 'Processing data, please wait...' -->
                <!-- /ko -->
            </div>

        </div>

        <span data-bind="html: fetchJavaScripts()"></span>

        <span data-bind="html: addCSS()"></span>
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        id="tpaycom_magento2cards_submit"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked()),
                        "
                        disabled>
                    <span data-bind="text: $t('Place Order')"></span>
                </button>
            </div>
        </div>
    </div>
</div>
